<!--Div that will hold the pie chart-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= render 'lancamentos/scripts/build_receita_chart' %>
<%= render 'lancamentos/scripts/process_reports' %>
<div id="ChartsCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#ChartsCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#ChartsCarousel" data-slide-to="1"></li>
    <li data-target="#ChartsCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div id="receita_chart_div"></div>
    </div>
    <div class="item">
      <div id="despesa_chart_div"></div>
    </div>
    <div class="item">
      <div id="caixa_chart_div"></div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#ChartsCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#ChartsCarousel" data-slide="next">&rsaquo;</a>
</div>

