<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<%= render 'lancamentos/scripts/load_google_library' %>
<script type="text/javascript">

</script>

<div id="ChartsCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#ChartsCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#ChartsCarousel" data-slide-to="1"></li>
    <li data-target="#ChartsCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <a href="#reportsModal" role="button" class="btn" data-toggle="modal" onclick="selectChartTab('reportsReceita')">
        <div id="receita_chart_div"
             onload="drawVisualization('column', 'receita_chart_div', '<%= lancamentos_reports_receita_estatisticas_path %>');">
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#reportsModal" role="button" class="btn" data-toggle="modal" onclick="selectChartTab('reportsDespesa')">
        <div id="despesa_chart_div"
             onload="drawVisualization('column', 'despesa_chart_div', '<%= lancamentos_reports_despesa_estatisticas_path %>');"></div>
      </a>
    </div>
    <div class="item">
      <a href="#reportsModal" role="button" class="btn" data-toggle="modal" onclick="selectChartTab('reportsCaixa')">
        <div id="caixa_chart_div"
             onload="drawVisualization('column', 'caixa_chart_div', '<%= lancamentos_reports_fluxo_caixa_estatisticas_path %>');"></div>
      </a>
    </div>
    <div class="item">
      <a href="#reportsModal" role="button" class="btn" data-toggle="modal" onclick="selectChartTab('reportsDiversos')">
        <div style="width:540px; height:450px; vertical-align: center">
            <center>Relatórios Mister Business</center>
        </div>
      </a>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#ChartsCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#ChartsCarousel" data-slide="next">&rsaquo;</a>
</div>

