<table class="table table-hover table-condensed">
<tr height="10%">
  <td align="middle" colspan=3>
    <%= render 'lancamentos/scripts/quitar_checkboxes' %>
    <button id="quitar_button" type="button">Quitar</button>
    <%= render 'lancamentos/scripts/estornar_checkboxes' %>
    <button id="estornar_button" type="button">Estornar</button>
    <%= render 'lancamentos/scripts/cancelar_checkboxes' %>
    <button id="cancelar_button" type="button">Cancelar</button>
  </td>
</tr>
</table>