Aba de Notificações
<%
   @notificacoes.each do |notification_id, notification|
%>
    <% if notification.has_key?(:text) %>
        <div class="<%= notification[:class] %>">
    <% end %>
    <% if notification.has_key?(:can_close) %>
        <a class="notification_close" onclick="close_notification(this)">&times;</a>
    <% end %>
    <% if notification.has_key?(:link) %>
        <a href="<%= notification[:link] %>"><%= notification[:text] %></a></div>
    <% else %>
        <%= notification[:text] %></div>
    <% end %>
<% end %>