<%
   @notificacoes.each do |notification_id, notification|
%>
    <% if notification.has_key?(:text) %>
        <div class="<%= notification[:class] %>">
    <% end %>
    <% if notification.has_key?(:can_close) %>
        <a class="notification_close" onclick="close_notification(this)">&times;</a>
    <% end %>
    <% if notification.has_key?(:filter_string) %>
        <a onclick="notification_build_filter(<%= '"' + notification[:filter_string].to_s + '"' %>)"><%= notification[:text] %></a></div>
    <% else %>
        <%= notification[:text] %></div>
    <% end %>
<% end %>