<!-- Modal -->
<%= render 'lancamentos/scripts/build_report_chart' %>
<div class="divWebpageDialog">
  <div id="reportsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="reportsModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="reportsModalLabel">Relatórios Mister Business</h3>
    </div>
    <div class="modal-body">
      <div class="tab-content" id="reportsTab">
        <ul class="nav nav-pills">
          <li class="active"><a href="#receitas" data-toggle="tab" id="reportsReceita" onclick="zoneChart('receita')">Receitas</a></li>
          <li><a href="#despesas" data-toggle="tab" id="reportsDespesa" onclick="zoneChart('despesa')">Despesas</a></li>
          <li><a href="#fluxo" data-toggle="tab" id="reportsCaixa">Fluxo de caixa</a></li>
          <li><a href="#resultados" data-toggle="tab" id="reportsResultados">Resultados</a></li>
          <li><a href="#diversos" data-toggle="tab" id="reportsDiversos">Diversos</a></li>
        </ul>
      </div>

      <div id="chartsArea">
        <div id="report_zone_1_div"></div>
        <div id="report_zone_2_div" style="float:left"></div>
        <div id="report_zone_3_div" style="float:left"></div>
      </div>

      <!--<div class="tab-pane fade in">-->
      <!--<div class="tab-pane fade in active" id="despesas">-->
      <!--<div id="report_despesas_zone_1_div"></div>-->
      <!--<div id="report_despesas_zone_2_div" style="float:left"></div>-->
      <!--<div id="report_despesas_zone_3_div" style="float:left"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="tab-pane fade in" id="fluxo">-->
      <!--Estas são fluxos-->
      <!--</div>-->
      <!--<div class="tab-pane fade in" id="resultados">-->
      <!--Estas são resultados-->
      <!--</div>-->
      <!--<div class="tab-pane fade in" id="diversos">-->

      <!--</div>-->
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>