<table class="table">
   <tr height="60%">
		<td width="34%">
			<div style="overflow:scroll;height:100%;width:100%;overflow:auto">
				<%= render 'form' %>
			</div>
		</td>
		<td width="33%">
			<%= render 'notifications' %>
		</td>
		<td width="33%">
			<%= render 'charts' %>
		</td>
  </tr>
  <tr>
  	
  	<%= render 'grid'%>
  	
  	
  </tr>
 </table>
