<div id="lancamento_index">
  <div>
    <table class="table">
      <tr height="60%">
        <td width="45%">
          <div style="overflow:scroll;overflow:auto">
            <div id="lancamento_form"><%= render :partial => 'form' %></div>
          </div>
        </td>
        <td width="10%">
          <%= render 'notifications' %>
        </td>
        <td width="45%">
          <%= render 'charts' %>
        </td>
      </tr>
    </table>
  </div>
  <div id="lancamento_grid"><%= render :partial => 'grid' %></div>
</div>
