<h1>Centros de Custo</h1>

<div class="span3 well" id="centrodecusto_form">
    <%= render "form" %>
</div>

<div class="span8 well" id="centrodecusto_tree" style="overflow: auto">
  <%= render "tree" %>
</div>
<%= link_to 'Novo Centro de Custo', new_centrodecusto_path, :remote => true, :class => "btn" %>
<!--  <%= link_to 'Destroy', @centrodecusto, :remote => true , method: :delete, data: { confirm: 'Are you sure?' } %> -->

