<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @centrodecusto.descricao %>
</p>


<%= link_to 'Edit', edit_centrodecusto_path(@centrodecusto) %> |
<%= link_to 'Back', centrodecustos_path %>
