function printHtml(div1id, div2id, div3id) {

    var bodyHtml = "";
    var headHtml = "";
    var w = window.open('<%= Rails.application.routes.url_helpers.lancamentos_print_path %>');
    //var w = window.open();

    w.onload = function()
    {
                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div1id).html());
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat("&nbsp;");
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div2id).html());
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat("&nbsp;");
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div3id).html());
                bodyHtml = bodyHtml.concat("</div>");
        w.document.getElementById("printArea").innerHTML = bodyHtml;
    }
};

function buildStdSelect2(fieldId, placeHolderValue, data)
{
    var element = $("#" + fieldId + "");

    element.select2({
        width: "resolve",
        height: "resolve",
        maximumSelectionSize: 1,
        data: data
    });

    element.on("open", function () {
        if (element.val() != "") {
            element.val("").trigger("change");
            element.select2("open");
        }
    });

    element.val('Mensal').trigger("change");
}

function buildSelect2(fieldId, placeHolderValue, contentUrl, hiddenFieldId)
{
    var element = $("#"+ fieldId +"");
    var hiddenElement = $("#"+ hiddenFieldId +"");

    $.getJSON(contentUrl, function (data)
    {
        element.select2({
            width: "resolve",
            maximumSelectionSize: 1,
            triggerChange: true,
            selectOnBlur: true,
            placeholder: "" + placeHolderValue + "",
            data: data,
            createSearchChoice:function(term, data) {
                if ($(data).filter(function() {
                    return this.text.localeCompare(term) === 0;
                }).length === 0) {
                    return {id:term, text: term, isNew: true};
                }
            },
            formatResult: function(term) {
                if (term.isNew) {
                    return '<span class="label label-important">Novo</span> ' + term.text;
                }
                else {
                    return term.text;
                }
            }
        });
    });
}


