function printHtml(div1id, div2id, div3id) {

    var bodyHtml = "";
    var headHtml = "";
    var w = window.open('<%= Rails.application.routes.url_helpers.lancamentos_print_path %>');
    //var w = window.open();

    w.onload = function()
    {
                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div1id).html());
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat("&nbsp;");
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div2id).html());
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat("&nbsp;");
                bodyHtml = bodyHtml.concat("</div>");

                bodyHtml = bodyHtml.concat("<div class='span12'>");
                bodyHtml = bodyHtml.concat($("#" + div3id).html());
                bodyHtml = bodyHtml.concat("</div>");
        w.document.getElementById("printArea").innerHTML = bodyHtml;
    }
};

function buildSelect2asjd(elementId, placeHolderValue, contentUrl)
{
    var element = $("#"+ elementId +"");

    $.getJSON(contentUrl, function (data)
    {
        $("#" + elementId + "").select2({
            width: "resolve",
            maximumSelectionSize: 1,
            placeholder: "" + placeHolderValue + "",
            tags: data

        });

    });

}

function buildSelect2(elementId, placeHolderValue, contentUrl, hiddenFieldId)
{
    var element = $("#"+ elementId +"");

    $.getJSON(contentUrl, function (data)
    {
        $("#" + elementId + "").select2({
            width: "resolve",
            maximumSelectionSize: 1,
            placeholder: "" + placeHolderValue + "",
            tags: data,
            createSearchChoice:function(term, data) {
                if ($(data).filter(function() {
                    return this.text.localeCompare(term) === 0;
                }).length === 0) {
                    return {id:term, text: term, isNew: true};
                }
            },
            formatResult: function(term) {
                if (term.isNew) {
                    return '<span class="label label-important">Novo</span> ' + term.text;
                }
                else {
                    return term.text;
                }
            }
        });
        $("#" + hiddenFieldId + "").val(selectedText);
    });

}


