body
  {
  height: 100%;
  padding-top: 70px;
  font-size: 11px;
}

.notifications
  {
  height: 270px;
  /*height: 250px;*/
  overflow: auto;
}

.reports
  {
  height: 270px;
  //height: 50%;
}

.grid
  {
  //height: 350px;
  /*height: 350px;*/
  //overflow: auto;
}

.messages
  {
  height: 20px;
}

.menu_ads
  {
  height: 620px;
}

.form
  {
  height: 270px;
}

.hundred_percent
  {
  height: 100%;
}

.mister-panel{
  margin: 0px !important;

}

.mister-submit-button
  {
  margin-top: -10px;
}

.mister-place
  {
  border-bottom-style: solid;
  border-width: 1px;
  margin-left: 0%;
}

.mister-span
{
  margin-left: 0%;
}

.mister-chart-area
{
  height: 670px;
  overflow-y: auto;
  overflow-x: hidden;

}

.mister-module-menu-item
  {
  font-size: 0.8em;
}

.mister-textbox
{
  //margin-left: 5%;
  //margin-right: 5%;
  //margin-top: 5%;
  //margin-bottom: 5%;

  //margin-left: 15px;
  //margin-right: 15px;
  //margin-top: 15px;
  margin-bottom: 15px;



}
.mister-table-filter
{

}
.mister-table-row-selected{
  background-color: darkgreen !important;
  color:  white;

}

.mister-table-level1
  {
  margin-left: 6% !important;
}

.mister-select
  {
  max-height: 50px;
  width: 80%;
}

.mister-table-realizado-level0
  {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.mister-table-projetado-level0
  {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

.mister-table-realizado-level1
  {
  background-color: seagreen;
  color:  white;
  font-weight: bold;

}

.mister-table-projetado-level1
  {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

.mister-table-realizado-level2
  {
  background-color: white;
}

.mister-table-projetado-level2
  {
  background-color: lightgreen;
  color: black;
}

.mister-table-btn
{
  color: white !important;
  width: 100%;
  z-index: 99;
}

.mister-table-btn2
  {
  color: darkslategray !important;
  width: 100%;
  z-index: 99;
}

.mister-table-row
  {
  z-index:-1;
}

.mister-number
  {
  text-align: right;
  vertical-align: center;
}

.mister-table-heading
{
  width:  100%;
}

.mister-table-column-current
{
  background-color: mediumspringgreen;
  color: black;
  font-weight: bold;
}

.mister-table-column-current-total
  {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.mister-iframe
{
  padding-top: 0px;
}

.mister-popover{}

.mister-quadrante-label
{
  color: white;
  background-color: green;
  font-weight: bolder;
}

.mister-quadrante-box
{
  margin-left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.span12
{
  margin-left: 0;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.divWebpageDialog .modal {
  width: 1000px;
  left: 40%;

}

.divWebpageDialog .modal-body {
  width: 1000px;
  padding: 0;
  max-height: none;
  height: 700px;
  overflow: none;
}

.divWebpageDialog .tab-content {
  overflow: none;
}

.divReportsDialog .modal {
  width: 1200px;
  left: 40%;

}

.divReportsDialog .modal-body {
  width: 1200px;
  padding: 0;
  max-height: none;
  height: 700px;
  overflow: none;
}

.divReportsDialog .tab-content {
  overflow: none;
}

.quadrante {
  width: 100%;
  margin-left: 0px;
  margin-right: none;
  display: table;
}

.notification_warning {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  color: #B94A48;
}

.notification_attention {
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  color: #C09853
}

.notification_success {
  background-color: #DFF0D8;
  border: 1px #D6E9C6;
  color: #468847;
}

.notification_information {
  background-color: #D9EDF7;
  border: 1px #BCE8F1;
  color: #3A87AD;
}

.notification_close {
  color: #000;
  opacity: 0.2;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
}

.clear {
  clear: both;
}

.results_actions input {
  float: left;
}

td.sorting_1
  {
  background-color: black;
}