<%= content_for(:footer) do %>
    <div class="navbar-header">
      <a class="navbar-brand"><img src="assets/logo_full_smaller.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li>
          <a href="#">Configurações da Empresa </a>
      </li>
      <li>
        <a href="#">Configurações da Equipe</a>
      </li>
      <li>
        <a href="#">Configurações da conta </a>
      </li>
    </ul>
    <!--<p class="navbar-text pull-right">MisterBusiness Finance | <a href="#">Usuário Ativo</a></p>-->

<% end %>